<footer style=" background-color: #8F4628; color: white;">
	<div class="py-5" style="display: flex; justify-content: space-evenly;">		
		<div>
			<h6 class="mb-3">Seguinos</h6>
			<ul class="px-1" style="list-style-type: none; margin: 0;">
				<li class="my-2"><a class="dropdown-item" href="#"><i class="fa-brands fa-instagram fa-xl"></i></a></li>
				<li class="my-2"><a class="dropdown-item" href="#"><i class="fa-brands fa-square-facebook fa-xl"></i></a></li>
			</ul>
		</div>
		<div>
			<h6 class="mb-3">Contactános</h6>
			<ul class="px-1" style="list-style-type: none; margin: 0;">
				<li><a class="dropdown-item my-1" href="#">WhatsApp 2222222222</a></li>
		        <li><a class="dropdown-item my-1" href="#">Correo</a></li>
		        <li><a class="dropdown-item my-1" href="#">Ubicación: ubicación</a></li>
			</ul>
		</div>		
	</div>
	<div style="background-color: #46281B;">
		<nav class="navbar navbar-dark">
		  <div class="container-fluid">
		    <a class="navbar-brand fs-6 ms-auto" href="/login"><i class="fa-solid fa-user fa-xl me-3"></i>Ingresar</a>
		  </div>
		</nav>
	</div>
</footer>