<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/headerControls}"></head>

<body class="container mt-1">

<h2 class="mb-4">Actualizar Categoría Producto Oferta</h2>

<form th:action="@{/categoriaProductoOferta/actualizarCategoriaProductoOferta/{id}(id=${categoriaProductoOferta.id})}" method="post my-3">
    <input type="hidden" name="_method" value="put">

    <div class="form-group my-2 p-2">
        <label for="categoria">Categoria:</label>
        <input type="text" id="categoria" name="categoria" class="form-control" th:value="${categoriaProductoOferta.categoria}" required>
    </div>

    <button type="submit" class="btn btn-success">Actualizar Categoría</button>
</form>

</body>
</html>