<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/headerControls}"></head>

<body class="container mt-1">

<h2 class="mb-4 text-center text-md-start">Actualizar Compra</h2>

<form th:action="@{/compras/actualizarCompra/{id}(id=${compra.id})}" method="post" class="form p-2 my-3">
	<input type="hidden" name="_method" value="put">
    
    <div class="form-group my-2 p-2">
        <label for="fechaCompra">Fecha de compra:</label>
        <input type="date" id="fechaCompra" name="fechaCompra" th:value="${compra.fechaCompra}" class="form-control" required>
    </div>

    <div class="form-group my-2 p-2">
        <label for="precioCompra">Precio:</label>
        <input type="number" step="0.01" min="0.00" id="precioCompra" th:value="${compra.precio}" name="precio" class="form-control" required readonly>
    </div>
    
    <hr>
    
	<h4 class="my-3 text-center text-md-start">Insumos Seleccionados</h4>
		<div class="table-responsive">
	        <table class="table table-striped align-middle">
	            <thead>
	                <tr>
	                    <th>Nombre</th>
	                    <th>Cantidad</th>
	                    <th>Precio</th>                    
	                    <th></th>
	                </tr>
	            </thead>
	            <tbody id="lista-insumos-comprados" class="form-group">
	                <tr th:each="insumoComprado : ${compra.insumosComprados}">
	                	<td th:text="${insumoComprado.insumo.descripcion}"></td>
	                	<td><input type="number" name="insumosComprados[0].cantidad" min="1" onchange="actualizarTotalCompra()" th:value="${insumoComprado.cantidad}" required></td>
	                	<td><input type="number" step="0.01" name="insumosComprados[0].precio" min="1" onchange="actualizarTotalCompra()" th:value="${insumoComprado.precio}" required></td>
	                	<td>
				            <input type="hidden" name="insumosComprados[0].insumo.id" th:value="${insumoComprado.insumo.id}">
				            <input type="hidden" name="insumosComprados[0].id" th:value="${insumoComprado.id}">
				            <button type="button" class="btn btn-danger" onclick="eliminarInsumo(this)">Eliminar</button>
				        </td>
	                </tr>
	            </tbody>
	        </table>		
		</div>		
   
    <br>

    <button type="submit" class="btn btn-success w-100 w-sm-auto">Actualizar Compra</button>
</form>

<hr>

<h4 class="my-3 text-center text-md-start">Lista de Insumos</h4>

<div class="table-responsive">
	<table class="table table-bordered align-middle">
	  <thead>
	    <tr>
	      <th scope="col">Descripción</th>
	      <th scope="col">Cantidad</th>
	      <th scope="col">Costo</th>
	      <th scope="col">Stock</th>
	      <th scope="col"></th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="insumo : ${insumos}">
	      <td style="vertical-align: middle;" th:text="${insumo.descripcion}"></td>
	      <td style="vertical-align: middle;" th:text="|${insumo.cantidad} ${insumo.unidad}|"></td>
	      <td style="vertical-align: middle;" th:text="${insumo.costoInsumo}"></td>
	      <td style="vertical-align: middle;" th:text="|${insumo.stock} ${insumo.unidad}|"></td>
	      <td>
	      	<button type="button" class="btn btn-secondary" th:attr="onclick='agregarInsumo(' + ${insumo.id} + ',\'' + ${insumo.descripcion} + '\',' + ')'" >Agregar</button>
	      </td>
	    </tr>
	   
	  </tbody>
	</table>
</div>

<script th:src="@{/js/agregarCompraForm.js}"></script>

</body>
</html>