<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/headerControls}"></head>

<body class="container mt-1 mb-3">

<h2 class="mb-2">Agregar Proveedor</h2>

<form th:action="@{/proveedores/guardarProveedor}" method="post" class="form p-2">
    <div class="form-group m-2">
        <label for="nombreEmpresa">Nombre de la Empresa:</label>
        <input type="text" id="nombreEmpresa" name="nombreEmpresa" class="form-control" required>
    </div>

    <div class="form-group m-2">
        <label for="telefonoContacto">Teléfono:</label>
        <input type="text" id="telefonoContacto" name="telefonoContacto" class="form-control" required>
    </div>

    <div class="form-group m-2">
        <label for="nombreVendedor">Nombre Vendedor:</label>
        <input type="text" id="nombreVendedor" name="nombreVendedor" class="form-control" required>
    </div>

    <div class="form-group m-2">
        <label for="email">Correo:</label>
        <input type="text" id="email" name="email" class="form-control" required>
    </div>

	<div class="form-group m-2">
        <label for="paginaWeb">Página web:</label>
        <input type="text" id="paginaWeb" name="paginaWeb" class="form-control" required>
    </div>

	<div class="form-group m-2">
        <label for="horaAtencion">Hora de atención:</label>
        <input type="text" id="horaAtencion" name="horaAtencion" class="form-control" required>
    </div>

	<div class="form-group m-2">
        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" name="direccion" class="form-control" required>
    </div>
	
    <br>

    <button type="submit" class="btn btn-success">Guardar Proveedor</button>
</form>

<hr>

<a th:href="@{/proveedores/listar}" class="btn btn-primary my-3">Ver Lista de Proveedores</a>

</body>
</html>