<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/headerControls}"></head>

<body class="container">

<h2>Agregar Categoria</h2>

<form th:action="@{/categoriaProductos/agregarCategoriaProducto}" method="post" class="form">
    <div class="form-group">
        <label for="categoria">Categoria:</label>
        <input type="text" id="categoria" name="categoria" class="form-control" required>
    </div>

   <br>

    <button type="submit" class="btn btn-success">Guardar Categoría Producto</button>
</form>

<hr>

<a th:href="@{/categoriaProductos/listarCategoriaProductos}" class="btn btn-primary my-3">Ver Lista Categoria Productos</a>

</body>
</html>