<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/headerControls}"></head>

<body class="container mt-1">

<h1>Lista de Valor Agregado</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Descripción</th>
      <th scope="col">Porcentaje</th>
      <th sec:authorize="hasAnyAuthority('ROL_ADMIN','ROL_ESCRITURA')" scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="valorAgregado : ${valoresAgregados}">
      <td style="vertical-align: middle;" th:text="${valorAgregado.descripcion}"></td>
      <td style="vertical-align: middle;" th:text="${valorAgregado.porcentaje}"></td>
      <td sec:authorize="hasAnyAuthority('ROL_ADMIN','ROL_ESCRITURA')">
         <button th:onclick="'eliminarValorAgregadoConfirmacion('+${valorAgregado.id}+');'" class="btn btn-danger">Eliminar</button>
         <a th:href="@{/valorAgregado/actualizarValorAgregado/{id}(id=${valorAgregado.id})}" class="btn btn-warning">Actualizar</a>
      </td>
    </tr>
   
  </tbody>
</table>
<a sec:authorize="hasAnyAuthority('ROL_ADMIN','ROL_ESCRITURA')" th:href="@{/valorAgregado/agregarValorAgregado}" class="btn btn-success">Agregar Valor Agregado</a>

<script sec:authorize="hasAnyAuthority('ROL_ADMIN','ROL_ESCRITURA')">
    function eliminarValorAgregadoConfirmacion(id) {
        Swal.fire({
            title: '¿Desea eliminar el valor agregado seleccionada?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                location.href = '/valorAgregado/eliminarValorAgregado/' + id;
            }
        });
    }
</script>

</body>
</html>