<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/headerControls}"></head>

<body class="container mt-1">

	<section class="container-fluid row align-items-center my-3">	
		<div class="col d-flex align-items-center">
			<h1 class="m-0">Lista de Ventas</h1>	
		</div>
		<div class="col d-flex justify-content-end align-items-center">
			<a sec:authorize="hasAnyAuthority('ROL_ADMIN','ROL_ESCRITURA')" th:href="@{/ventas/agregarVenta}" class="btn btn-success">Agregar Venta</a>
		</div>	
	</section>

	<section>
		<table class="table table-bordered table-striped table-hover align-middle w-auto" th:each="venta : ${ventas}">
		  <thead>
		    <tr>
		      <th scope="col" th:text="|Fecha de venta: ${venta.fechaVenta}|" colspan="2"></th>
		      <td sec:authorize="hasAnyAuthority('ROL_ADMIN','ROL_ESCRITURA')">
		      	<a th:href="@{/ventas/actualizarVenta/{id}(id=${venta.id})}" class="btn btn-warning">Actualizar</a>
		      	<button th:onclick="'eliminarVentaConfirmacion('+${venta.id}+');'" class="btn btn-danger">Eliminar</button>
		      </td>
		    </tr>
		  </thead>
		  <tbody>
		  	<tr>
		  		<th>Descripción</th>
		  		<th>Cantidad</th>
		  		<th>Precio c/u</th>
		  	</tr>
		    <tr th:each="productoVenta : ${venta.productosVendidos}">
		      <td th:text="${productoVenta.producto.descripcion}"></td>
		      <td th:text="|${productoVenta.cantidad}|" style="text-align: right;"></td>
		      <td th:text="|$ ${productoVenta.precio}|" style="text-align: right;"></td>
		    </tr>
		    <tr>
		    	<td colspan="2"></td>
		    	<td th:text="|Total: $ ${venta.precio}|" style="text-align: right;"></td>
		    </tr>
		  </tbody>
		</table>	
	</section>

<script sec:authorize="hasAnyAuthority('ROL_ADMIN','ROL_ESCRITURA')">
    function eliminarVentaConfirmacion(id) {
        Swal.fire({
            title: '¿Desea eliminar la venta seleccionada?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                location.href = '/ventas/eliminarVenta/' + id;
            }
        });
    }
</script>

</body>
</html>