<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments/headerControls}"></head>

<body class="container mt-1">

<div class="container-fluid row align-items-center my-3">
	<div class="col d-flex align-items-center">
		<h1 class="m-0">Productos</h1>	
	</div>
	<div class="col d-flex justify-content-end align-items-center">
		<a sec:authorize="hasAnyAuthority('ROL_ADMIN','ROL_ESCRITURA')" th:href="@{/productos/agregarProducto}" class="btn btn-success">Agregar Producto</a>
	</div>	
</div>


<main>	
	<div class="container border-bottom border-dark-subtle p-3" th:each="producto : ${productos}">
		<div class="row justify-content-center">
			<div class="col">
				<div class="card mb-3" style="max-width: 540px;">
				  <div class="row g-0">
				    <div class="col-md-4">
				      <img th:src="${producto.imgUrl}" class="img-fluid rounded-start" style="max-height: 35vh;" alt="...">
				    </div>
				    <div class="col-md-8">
				      <div class="card-body">
				        <h4 class="card-title" th:text="${producto.descripcion}"></h4>
				      </div>
			          <ul class="list-group list-group-flush">
			          	<li class="list-group-item" th:text="${producto.categoriaProductoOferta != null ? 'Categoria: ' + producto.categoriaProductoOferta.categoria : 'Categoria no disponible'}"></li>
					    <li class="list-group-item" th:text="|${producto.costoBase != null ? 'Costo base: $ ' + producto.costoBase : 'Sin datos'}|"></li>
					    <li class="list-group-item" th:text="|Precio: $ ${producto.precio}|"></li>
					    <li class="list-group-item" th:text="${producto.disponible ? 'Disponible' : 'No Disponible'}"></li>
					  </ul>
					  <div sec:authorize="hasAnyAuthority('ROL_ADMIN','ROL_ESCRITURA')" class="card-body">
					    <a th:href="@{/productos/modificarProducto/{id}(id=${producto.id})}" class="btn btn-warning m-1">Actualizar</a>
			      		<button th:onclick="'eliminarProductoConfirmacion('+${producto.id}+');'" class="btn btn-danger m-1">Eliminar</button>
					  </div>
				    </div>
				  </div>
				</div>
			</div>
			
			<div class="col">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
				        <h5 class="card-title">Insumos</h5>
				    </div>
					<ul class="list-group list-group-flush">
					  <li th:each="insumoProducto : ${producto.insumosProductos}" class="list-group-item" th:text="|${insumoProducto.insumo.descripcion}: ${insumoProducto.cantidad} ${insumoProducto.insumo.unidad}|"></li>			  
					</ul>
				</div>
			</div>
		</div>	
	</div>
	
</main>

<script sec:authorize="hasAnyAuthority('ROL_ADMIN','ROL_ESCRITURA')">
	function eliminarProductoConfirmacion(id) {
        Swal.fire({
            title: '¿Desea eliminar el producto seleccionado?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                location.href = '/productos/eliminarProducto/' + id;
            }
        });
    }
</script>

</body>
</html>