<!DOCTYPE html>
<html>
<header th:insert="~{fragments/headerControls}"></header>

<body class="container mt-1">

<main>

	<div class="container-fluid row align-items-center my-3">
		<div class="col d-flex align-items-center">
			<h1 class="m-0">Lista de Compras</h1>	
		</div>
		<div class="col d-flex justify-content-end align-items-center">
			<a sec:authorize="hasAnyAuthority('ROL_ADMIN','ROL_ESCRITURA')" th:href="@{/compras/agregarCompra}" class="btn btn-success">Agregar Compra</a>
		</div>	
	</div>

	<section>
		<table class="table table-bordered table-striped table-hover align-middle w-auto" th:each="compra : ${compras}">
		  <thead>
		    <tr>
		      <th scope="col" th:text="|Fecha de compra: ${compra.fechaCompra}|" colspan="2"></th>
		      <td sec:authorize="hasAnyAuthority('ROL_ADMIN','ROL_ESCRITURA')">
		      	<a th:href="@{/compras/actualizarCompra/{id}(id=${compra.id})}" class="btn btn-warning">Actualizar</a>
		      	 <button th:onclick="'eliminarCompraConfirmacion('+${compra.id}+');'" class="btn btn-danger">Eliminar</button>
		      </td>
		    </tr>
		  </thead>
		  <tbody>
		  	<tr>
		  		<th>Descripción</th>
		  		<th>Cantidad</th>
		  		<th>Precio c/u</th>
		  	</tr>
		    <tr th:each="insumoComprado : ${compra.insumosComprados}">
		      <td th:text="${insumoComprado.insumo.descripcion}"></td>
		      <td th:text="${insumoComprado.cantidad}" style="text-align: right;"></td>
		      <td th:text="|$ ${insumoComprado.precio}|" style="text-align: right;"></td>
		    </tr>
		    <tr>
		    	<td colspan="2"></td>
		    	<td th:text="|Total: $ ${compra.precio}|" style="text-align: right;"></td>
		    </tr>
		  </tbody>
		</table>	
	</section>
	
</main>
<script sec:authorize="hasAnyAuthority('ROL_ADMIN','ROL_ESCRITURA')">
    function eliminarCompraConfirmacion(id) {
        Swal.fire({
            title: '¿Desea eliminar la compra seleccionada?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                location.href = '/compras/eliminarCompra/' + id;
            }
        });
    }
</script>
</body>
</html>